body{
    /* background-image: url(bgcomic3.png); */
    background-color: burlywood;
    color: brown;
    padding: 0;
    margin: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: cursive;
}
nav{
    font-size: 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: brown;
}
nav a{
    text-decoration: none;
    color: burlywood;
}
nav img{
    margin-left: 30px;
    height: 100px;
    width: 100px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-right: 20px;
    margin-right: 40px;
    /* background-color: #0e6b0e;
    border-radius: 50px; */
}
nav li{
    font-weight: 900;
    color: aliceblue;
    padding: 20px;
}
main{
    margin: 80px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub1{
    flex-grow: 1;
    margin: 100px;
}
.sub1 h1{
    /* padding-right: 200px; */
    font-size: 40px;
}
.sub1 h3{
    font-style: italic;
    padding: 0;
}
.sub1 button{
    color: burlywood;
    background-color: brown ;
    border: burlywood solid;
    font-family: cursive;
    font-weight: 900;
    font-size: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 20px;
    padding: 15px 20px 15px 20px;
}
.sub1 a button:hover{
    scale: 1.1;
    background-color: black ;
    color: cadetblue;
    border: aliceblue solid;
}
.sub2{
    width: 100%;
    flex-grow: 1;
}
.ss img:hover{
    scale: 1.1;
    transition: 1;
}

.ss img{
    object-fit: cover;
    /* height: 250px; */
    width: 800px;
    position: relative;
}
footer{
    padding: 0;
    margin: 0;
    height: 60px;
    background-color: brown;
}

@media screen and (max-width: 600px) {
    
}